
	<div class="w3-sidebar w3-bar-block w3-card oneshadow" style="float:right;">
		<h3 class="w3-bar-item" style="margin-left: 30px;">Notifications</h3>
		<h6 class="w3-bar-item" style="float: right;margin-top: -15px;font-size: 10px;color:red;margin-right:65px;">Refresh</h6>
		<hr style="margin-top: 16px;">
		<div >
		<a href="" class="w3-bar-item w3-button dropdown" style="text-align:center;">New Orders</a>
		<div style="padding: 5px 10px;">
			<p style="color:red;font-weight:bold;font-size:10px;">Order:ADDF5458223</p>
			<p style="float:right;margin-top: -20px;font-size:8px;">Scan By:012234</p>
			<p style="font-size:8px;">Scan:Available</p>
			<p style="float:right;margin-top: -25px;font-size:8px;">Time:15:00</p>
		</div>
		<div style="padding: 5px 10px;">
			<p style="color:red;font-weight:bold;font-size:10px;">Order:ADDF5458223</p>
			<p style="float:right;margin-top: -20px;font-size:8px;">Scan By:012234</p>
			<p style="font-size:8px;">Scan:Available</p>
			<p style="float:right;margin-top: -25px;font-size:8px;">Time:15:00</p>
		</div>
		<div style="padding: 5px 10px;">
			<p style="color:red;font-weight:bold;font-size:10px;">Order:ADDF5458223</p>
			<p style="float:right;margin-top: -20px;font-size:8px;">Scan By:012234</p>
			<p style="font-size:8px;">Scan:Available</p>
			<p style="float:right;margin-top: -25px;font-size:8px;">Time:15:00</p>
		</div>
		</div>
	  <a href="#" class="w3-bar-item w3-button" style="text-align:center;">Confirmed Orders</a>
	  <div style="padding: 5px 10px;">
			<p style="color:red;font-weight:bold;font-size:10px;">Inv:1123111442</p>
			<p style="float:right;margin-top: -20px;font-size:8px;">Scan By:012234</p>
			<p style="font-size:8px;">Name:Camera Lens200x15</p>
			<p style="float:right;margin-top: -25px;font-size:8px;">Date:1-2-18</p>
			<p style="font-size:8px;">Units:500</p>
			<p style="float:right;margin-top: -25px;font-size:8px;">Time:15:00</p>
		</div >
		<div style="padding: 5px 10px;">
			<p style="color:red;font-weight:bold;font-size:10px;">Inv:1123111442</p>
			<p style="float:right;margin-top: -20px;font-size:8px;">Scan By:012234</p>
			<p style="font-size:8px;">Name:Camera Lens200x15</p>
			<p style="float:right;margin-top: -25px;font-size:8px;">Date:1-2-18</p>
			<p style="font-size:8px;">Units:500</p>
			<p style="float:right;margin-top: -25px;font-size:8px;">Time:15:00</p>
		</div>
		
	  <a href="#" class="w3-bar-item w3-button" style="text-align:center;">Yet to be dispatched</a>
	  <div style="padding: 5px 10px;">
			<p style="color:red;font-weight:bold;font-size:10px;">Order:65462696SASES</p>
			<p style="float:right;margin-top: -20px;font-size:8px;">Status:Packed</p>
			<p style="font-size:8px;">Name:Camera Lens200x15</p>
			<p style="float:right;margin-top: -25px;font-size:8px;">Date:1-2-18</p>
			<p style="font-size:8px;">Units:500</p>
			<p style="float:right;margin-top: -25px;font-size:8px;">Time:15:00</p>
		</div>
		<div style="padding: 5px 10px;">
			<p style="color:red;font-weight:bold;font-size:10px;">Order:1123331164</p>
			<p style="float:right;margin-top: -20px;font-size:8px;">Status:Packed</p>
			<p style="font-size:8px;">Name:Camera Lens200x15</p>
			<p style="float:right;margin-top: -25px;font-size:8px;">Date:1-2-18</p>
			<p style="font-size:8px;">Units:500</p>
			<p style="float:right;margin-top: -25px;font-size:8px;">Time:15:00</p>
		</div>
	</div>
</div>	


      
