<div id="wrapper">
    <div ng-include="'templates/rightMenuBar.html'"></div>

    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <div ng-include="'templates/topBar.html'"></div>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Manage Users</h1>
                    <a href="" data-toggle="modal" data-target="#addNewCattleModal" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus-square fa-sm text-white-50"></i> Add New User</a>
                </div>

                 <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Users</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Type</th>
                      <th>Mobile</th>
                      <th>City</th>
                      <th>State</th>
                      <th>View/Edit</th>
                      <th>Delete</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Tiger Nixon</td>
                      <td>System Architect</td>
                      <td>Edinburgh</td>
                      <td>Edinburgh</td>
                      <td>61</td>
                      <td>2011/04/25</td>
                      <td>$320,800</td>
                    </tr>
                    <tr>
                      <td>Garrett Winters</td>
                      <td>Accountant</td>
                      <td>Edinburgh</td>
                      <td>Tokyo</td>
                      <td>63</td>
                      <td>2011/07/25</td>
                      <td>$170,750</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->
    </div>
    <!-- End of Content Wrapper -->

</div>
 <div class="modal fade" id="addNewCattleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add New User</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Name:</label>
    <input type="text" ng-model="u.name" class="form-control" id="exampleFormControlInput1" placeholder="Full name">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Type</label>
    <select class="form-control" ng-model="u.type" id="exampleFormControlSelect1">
      <option value="1">Farmer</option>
      <option value="2">Veterinarians</option>
      <option value="3">Dairy</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">City:</label>
    <input type="text" ng-model="u.city" class="form-control" id="exampleFormControlInput1" placeholder="">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">State:</label>
    <input type="text" ng-model="u.state" class="form-control" id="exampleFormControlInput1" placeholder="">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Email:</label>
    <input type="text" ng-model="u.email" class="form-control" id="exampleFormControlInput1" placeholder="">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Mobile:</label>
    <input type="mobile" ng-model="u.mobile" class="form-control" id="exampleFormControlInput1" placeholder="">
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Address:</label>
    <textarea class="form-control" ng-model="u.address" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
</form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <button ng-click="addUser()" type="button" class="btn btn-success">Submit</a>
        </div>
      </div>
    </div>
  </div>
<!-- End of Page Wrapper -->