<div  ng-controller="mainController">
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon">
         <i class="fas fa-user"></i>
        </div>
        <div class="sidebar-brand-text mx-3">{{username}}</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="#/">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Market Place
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link" href="#/buyCattle">
          <i class="fas fa-fw fa-download"></i>
          <span>Buy Cattle</span></a>
      </li>

      <!-- Nav Item - Tables -->
      <li class="nav-item">
        <a class="nav-link" href="#/sellCattle">
          <i class="fas fa-fw fa-upload"></i>
          <span>Sell Cattle</span></a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="#/sellCattle">
          <i class="fas fa-fw fa-table"></i>
          <span>Sell Milk</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#/sellCattle">
          <i class="fas fa-fw fa-table"></i>
          <span>Buy Milk</span></a>
      </li>
      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Manage
      </div>
      <li class="nav-item">
        <a class="nav-link" href="charts.html">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Transactions</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#/manageAccounts">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Manage Users</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#/manageCertificates">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Approve Certificates</span></a>
      </li>
      <!-- Nav Item - Tables -->
      <li class="nav-item">
        <a class="nav-link" href="#/manageCattles">
          <i class="fas fa-fw fa-table"></i>
          <span>Manage Cattles</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

    </ul>

</div>